header{
    background-color: #393E46;
    color: white;
    margin: 0;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #222831;

}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 5vh 0;

}
.item{
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    text-align: center;
    transition: 0.5s;
    justify-content: center;
    overflow: hidden;
}

img{
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    position: absolute;
}

.content{
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: transparent;
    text-align: center;
    transition: 0.5s;
    padding: 23px;
}

a{
    text-decoration: none;
}


.item:hover img{
    filter:blur(3px) brightness(0.5);
}

.item:hover .content{
   color: #EEEEEE;
   text-align: center;
}

.item:hover{
    box-shadow: 0 0 10px #EEEEEE;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
    z-index: 9999992;
}

.head-h{
    text-align: center;
    color: #EEEEEE;
    font-size: 2.5rem;
    flex: 1 0 2.5rem;
    margin: 10px 0 0 0;
    padding-top: 0.5rem;
}

.head-p{
    text-align: center;
    color: #EEEEEE;
    flex: 1 0 1rem;
    padding-bottom: 2px;
}

.footer{
    width: 100%;
    height: 8vh;
    background-color: #393E46;
    color:#00ADB5 ;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 70%;
}

.gady{
    color: #00ADB5;
}

.gady:hover{
    color: #EEEEEE;
    font-weight: bold;
    font-size: 130%;
    transition: 0.5s;
}

